@charset "utf-8";

/*
Customização geral do site
*/

.linkMenu{

}

.link{

}

.botao{

}


@media screen and (min-width:700px) {
  
  section#container{
    width: 100%;
    display: flex;
    padding: 0;
    margin: auto;
  }

  header#cabecalho{
    width: 100%;
    display: flex;
    padding: 0;
    margin: auto;
  }

  header#cabecalho section.itensHeader{
    background-color: red;
  }

  .wrap{
    flex-wrap: wrap;
  }

  section#corpo{
    width: 100%;
    display: flex;
    padding: 0;
    margin: auto;
  }

  footer#rodape{
    width: 100%;
    display: flex;
    padding: 0;
    margin: auto;
  }
}

@media screen and (max-width:700px) {
  
}